<div style="background-color: #f5f6f7; padding-top:50px; padding-bottom:50px;">
    <div style="background-color: #fff; width:500px; padding: 20px;margin-left:auto; margin-right:auto">
        <div style="border-bottom: 1px solid #eee; display:block; margin-bottom:30px;">
            <img src={{ image }} style="width: 100px; margin-top: 15px; margin-bottom: 10px;"></img>
        </div>
        <h2>Dear <span style="font-weight: bold;">{{ name }}</span>,</h2>

        <h3>Welcome to Daily Management!</h3>
        <p>You have succesfully registered for Daily Management Application.</p>
        <p style="line-height: 1.5;">Daily Management is the app for anyone who wants to manage and keep track of their
            daily routines and finances.</p>
        <h4>Benefits of Using Daily Management:</h4>
        <ol>
            <li style="margin-bottom: 10px;"><strong>Daily Tasks: </strong> It's easy to manage tasks on what you need
                to complete each day.</li>
            <li style="margin-bottom: 10px;"><strong>Email Reminder: </strong>Send an email about remaining tasks and
                expenses at the end of the day.</li>
            <li style="margin-bottom: 10px;"><strong>Daily Expenses: </strong> Provide you with tools to track your
                daily living expenses.</li>
            <li style="margin-bottom: 10px;"><strong>Charts to track </strong>Some charts to track habits and daily
                living expenses.</li>
        </ol>
        <p style="line-height:1.5;">Thank you for joining Daily Management! We can’t wait for you to start enjoying all
            the benefits.</p>
        <p>Best regards,</p>
        <p>Daily Management Team</p>
    </div>
</div>