<div style="background-color: #f5f6f7; padding-top:1rem; padding-bottom:1rem;"></div>
<div style="background-color: #fff; width:600px; padding: 20px;margin-left: auto; margin-right:auto;">
    <div style="border-bottom: 1px solid #eee; display:block; margin-bottom:30px; text-align:center;"> <img src={{ image
            }} style="width: 100px; margin-top: 15px; margin-bottom: 10px;"></img> </div>
    <p>Good morning <span style="font-weight: bold;">{{ name }}</span>,</p>
    <p style="font-weight:normal">Your future is created by what you do today, not tomorrow!</p>
    <p style="font-weight:normal">Please figure out task lists today: </p>
    <ol>
        {{#each task}}
        <li style="line-height: 1.5;">{{this.task}} </li>
        {{/each}}
    </ol>
    <p>The time for action is now. It's never too late to do something</p>
    <p>Best regards,</p>
    <p>Daily Management Team</p>
</div>
</div>